div.content-block
{
	border: 1px solid black;
	border-radius: 4px;
}
table
{
	border: none;
	border-collapse: collapse;
}
.table-fixed
{
	width: 200%;
	tbody
	{
		height:200px;
		overflow-y:auto;
		width: 100%;
	}
}